body {
    margin: 0;
    padding: 0;
    background: #FFF;
    overflow-x: hidden;
    
}
.accuil-group 
{
    position: relative;top: 1rem;
    display: flex;
    
}
.agence_1
{
    padding-left: 10rem;
}
a, a:hover, a:visited, a:active
    {
        text-decoration: none;
    }
.agence_3
{
    padding-left: 47rem;
    position: relative;top: -35rem;

}
.text-1
{
    padding-left: 45rem;
    position: relative;top: -30rem;
    border-radius: 30px;
}
.text-1 a 
{
    color: #FFFFFF;
    background-color: #F3976C;
    width: 200px;
    height: 60px;
}
.text-2
{
    padding-left: 42rem;
    position: relative;top: -34rem;
    
}
.text-3 
{
    padding-left: 34rem;
    position: relative;top: -16rem;
}
.text-4 
{
    position: relative;top: -2rem;
    padding-left: 34rem;
}
.text-5
{
    background-color: black;
}
.text-5 
{
    position: relative;top: 10rem;left: 0rem;
    padding-left: 35rem;
    width: 30%;
    
    color: #FFFFFF
}
.text-5 a 
{
    color: #FFFFFF;
    padding-left: 10rem;
    
}
.text-5 h2 
{
    color: #F3976C;
}
.text-6 
{
    position: relative;top: 15rem;
    padding-left: 36rem;
}
.text-7
{
    position: relative;top: -34rem;
    padding-left: 41rem;
    color: #F3976C;
}
.text-8
{
    background-color: #F3976C;
    width: 200px;
    height: 60px; 
    border-radius: 30px;
    text-align: center;
    line-height: 4rem;
    font-size: 20px;
    
}
.group-img img 
{
    max-width: 100%;
    height: 400px;
    display: flex;
    flex-flow: row;
    
    
}
.img-1 p  
{
    padding-left: 0rem;
    color:  #575757;
    
}
.img-1
{
    position: relative;left: 24rem;
    top: 20rem;
}
.img-2 
{
    position: relative;left: 55rem;
    top: -10.8rem;
}
.img-3
{
    position: relative;left: 24rem;
    top: -10rem;
}
.img-4 
{
    position: relative;left: 55rem;
    top: -40.8rem;

}
.foot .col-sm-4
{
    
    flex-direction: row;
    position: relative;top: -20rem;
    padding-left: 30rem;
}
.foot .white 
{
    position: relative;top: -30rem;
    padding-left: 40rem;
    color: black;
}
F 
{
    display: flex;
    color: white;
    font-size: 1rem;
    flex-direction: row;
    background-color: #F3976C;
}
.Web-design
{
    position: relative;top: -0rem;
}
.group-center
{
    display: flex;
    flex-direction: row;
    text-align: center;
    position: relative;top: -5rem;
    padding-left: 17rem;
    background-color: crimson;
    
}


@media (min-width: 768px) {
    .site-navigation {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(0, -50%);
        -webkit-transform: translateY(-50%);
    }
    
  
}

h1,

h3,
h4,
h5,
h6,
h6,
label,
.btn,
r {
    font-family: "helvetica";
    font-weight: 400;
    color: #575757!important;
}

.cta-hero {
    margin-top: 22px;
    color: #FFFFFF!important;
    text-transform: uppercase;
    padding: 12px 28px 12px 28px;
    font-size: 16px;
    font-weight: 700;
}



bold-link {
    font-weight: 900;
    text-decoration: underline!important;
}

.bgc-white {
    background-color: #FFFFFF;
}

.bgc-dark-slate-blue {
    background-color: #364577;
}

.bgc-atomic-tangerine {
    background-color: #F3976C;
}

.tc-white {
    color: #F3976C!important;
}

btn-atomic-tangerine {
    background: #F3976C;
    color: #FFFFFF!important;
}

btn-atomic-tangerine:hover {
    background: #c27956!important;
    color: #FFFFFF!important;
}

ltc-white {
    color: #FFFFFF!important;
}

@media (max-width: 1024px) {
    
}

@media (max-width: 992px) and (min-width: 768px) {
    
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
    
}

@media (max-width: 991px) {
    
    
}

@media (max-width: 767px) {
    
      
}

@media (max-width: 400px) {
    
}

@media (max-width: 767px) {
    
    
}