body {
    margin: 0;
    padding: 0;
    background: #FFF;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@media (max-width: 767px){ 
    .page-container
    {
        overflow-x: hidden;
        position: relative;
    }
}
@media (max-width: 400px){ 
    .bloc {
        padding-left: 0;
        padding-right: 0;
    }
}
.bloc .container {
    padding-left: 0;
    padding-right: 0;
}
@media (max-width: 767px){ 
.navbar.row {
    margin-left: 0;
    margin-right: 0;
}
}  
.navbar {
    margin-bottom: 0;
    z-index: 1;
}
.navbar-brand {
    height: auto;
    padding: 3px 15px;
    font-size: 25px;
    font-weight: 600;
    line-height: 44px;
}
@media (max-width: 767px){ 
.navbar-brand img {
    max-height: 40px;
    width: auto;
    margin: 0 5px 0 0;
    display: inline;
}
}
.navbar-toggle {
    margin: 10px 10px 0 0;
    border: 0;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.l-bloc .navbar-toggle .icon-bar {
    color: rgba(0,0,0,.6);
}
.navbar-toggle .icon-bar {
    background-color: rgba(0,0,0,.5);
    width: 26px;
}
.l-bloc .navbar-toggle .icon-bar {
    color: rgba(0,0,0,.6);
}
.navbar-toggle .icon-bar {
    background-color: rgba(0,0,0,.5);
    width: 26px;
}
@media (max-width: 767px){ 
.navbar-collapse {
    padding: 0;
    overflow-x: hidden;
    box-shadow: none;
}
}
@media (max-width: 767px){ 
.navbar .nav {
    padding-top: 0;
    border-top: 1px solid rgba(0,0,0,.2);
    float: none!important;
    margin-right: -16px;
    float: right;
    z-index: 1;
}
}
@media (max-width: 767px){ 
.nav>li {
    margin-top: 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
    background: rgba(0,0,0,.05);
    text-align: left;
    padding-left: 15px;
    width: 100%;
}
}
.nav>li {
    float: left;
    margin-top: 4px;
    font-size: 16px;
}
@media (max-width: 767px){ 
.bg-banniere {
    background-image: none;
}
}
@media (max-width: 400px){ 
.bloc {
    padding-left: 0;
    padding-right: 0;
}
}
@media (max-width: 767px){ 
.b-parallax {
    background-attachment: scroll;
}
}
.bgc-dark-slate-grey {
    background-color: #f3976c;
}
.d-bloc {
    color: rgba(255,255,255,.7);
}
.bg-t-edge {
    background: top no-repeat;
}
.bloc {
    width: 100%;
    clear: both;
    padding: 0 50px;
    position: relative;
}
.bloc .container {
    padding-left: 0;
    padding-right: 0;
}
@media (max-width: 767px){ 
.bloc-lg, .bloc-xl, .bloc-xxl {
    padding: 40px 0;
}
}
@media (max-width: 991px){ 
.container {
    width: 100%;
}
}
.container {
    max-width: 1000px;
}
.tight-width-whitespace {
    max-width: 600px;
    margin: auto auto auto auto;
}
.tangerine-background {
    background-color: #f3976c;
    padding-top: 10px;
    padding-bottom: 10px;
}
#bloc-1-hero h1 {
    font-size: 32px;
}
.contrast {
    color: #333!important;
}
@media (max-width: 767px){ 
#disqus_thread, h1, h2, h3, h4, h5, h6, p {
    padding-left: 10px!important;
    padding-right: 10px!important;
}
}
.btn, a, h1, h2, h3, h4, h5, h6, label, p {
    font-family: helvetica;
    font-weight: 400;
    color: #575757!important;
}
.btn-tangerine {
    background: #333!important;
    color: #f3976c!important;
}
.cta-hero {
    margin-top: 22px;
    text-transform: uppercase;
    padding: 12px 28px 12px 28px;
    font-size: 16px;
    font-weight: 700;
}
.btn, a, h1, h2, h3, h4, h5, h6, label, p {
    font-family: helvetica;
}
.btn-clean {
    border: 1px solid rgba(0,0,0,.08);
    border-bottom-color: rgba(0,0,0,.1);
    text-shadow: 0 1px 0 rgb(0 0 1 / 10%);
    box-shadow: 0 1px 3px rgb(0 0 1 / 25%), inset 0 1px 0 0 rgb(255 255 255 / 15%);
}
.btn-rd {
    border-radius: 40px;
}
.btn {
    margin: 0 5px 5px 0;
}
