body {
    margin: 0;
    padding: 0;
    background: #FFF;
    overflow-x: hidden;
    
}
.accuil-group 
{
    position: relative;top: 1rem;
    display: flex;
}
.agence_1
{
    padding-left: 10rem;
}

.agence_3
{
    padding-left: 37rem;
    position: relative;top: -35rem;

}
.text-1
{
    padding-left: 18rem;
    position: relative;top: -75rem;
}
.text-2
{
    padding-left: 17rem;
    position: relative;top: -74rem;
    
}
.text-3 
{
    padding-left: 22rem;
    position: relative;top: -68rem;
}
.text-4 
{
    position: relative;top: -65rem;
    padding-left: 16rem;
}
.text-5
{
    position: relative;top: -72rem;
    padding-left: 8rem;
}
.text-6 
{
    position: relative;top: -72rem;
    padding-left: 18rem;
}
.text-7
{
    position: relative;top: -128rem;
    padding-left: 13rem;
}

.group-img img 
{
    max-width: 100%;
    height: 400px;
    display: flex;
    
}
.img-1
{
    position: relative;left: -4rem;
    top: -71rem;
}
.img-2 
{
    position: relative;left: 24rem;
    top: -100.5rem;
}
.img-3
{
    position: relative;left: -4rem;
    top: -100rem;
}
.img-4 
{
    position: relative;left: 24rem;
    top: -129.5rem;
}
.foot 
{
    display: flex;
    position: relative;top: -120rem;
}
white 
{
    position: relative;top: -10rem;
    color: black;
}
footer p 
{
    display: flex;
    color: white;
    font-size: 1rem;
}
.Web-design
{
    position: relative;top: 45rem;
}
.group-center
{
    display: flex;
    flex-direction: row;
    text-align: center;
    position: relative;top: -65rem;
    padding-left: 17rem;
    
}


@media (min-width: 768px) {
    .site-navigation {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(0, -50%);
        -webkit-transform: translateY(-50%);
    }
    
  
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
.btn,
a {
    font-family: "helvetica";
    font-weight: 400;
    color: #575757!important;
}

.cta-hero {
    margin-top: 22px;
    color: #FFFFFF!important;
    text-transform: uppercase;
    padding: 12px 28px 12px 28px;
    font-size: 16px;
    font-weight: 700;
}



.bold-link {
    font-weight: 900;
    text-decoration: underline!important;
}

.bgc-white {
    background-color: #FFFFFF;
}

.bgc-dark-slate-blue {
    background-color: #364577;
}

.bgc-atomic-tangerine {
    background-color: #F3976C;
}

.tc-white {
    color: #F3976C!important;
}

.btn-atomic-tangerine {
    background: #F3976C;
    color: #FFFFFF!important;
}

.btn-atomic-tangerine:hover {
    background: #c27956!important;
    color: #FFFFFF!important;
}

.ltc-white {
    color: #FFFFFF!important;
}

@media (max-width: 1024px) {
    
}

@media (max-width: 992px) and (min-width: 768px) {
    
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
    
}

@media (max-width: 991px) {
    
    
}

@media (max-width: 767px) {
    
      
}

@media (max-width: 400px) {
    
}

@media (max-width: 767px) {
    
    
}